In [73]:
from src.utils.data_utils import load_dataframe_from_csv, save_dataframe_to_csv
from src.data.dataloader import load_initial_dataset, get_page_id_from_url
import pandas as pd
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [70]:
movie = load_dataframe_from_csv('movie_cmu.csv')
character = load_dataframe_from_csv('character.csv')
plot_summaries = load_dataframe_from_csv('plot_summaries.csv')
tvtropes = load_dataframe_from_csv('tvtropes.csv')
name_clusters = load_dataframe_from_csv('name_clusters.csv')
oscar_winning_films = load_dataframe_from_csv('oscar_winning_films_ids.csv')
oscar_winning_actors = load_dataframe_from_csv('oscar_winning_actors.csv')
oscar_winning_actresses = load_dataframe_from_csv('oscar_winning_actresses.csv')
oscar_supporting_actors = load_dataframe_from_csv('oscar_winning_supporting_actors.csv')
oscar_supporting_actresses = load_dataframe_from_csv('oscar_winning_supporting_actresses.csv')
extended_films = load_dataframe_from_csv('film_2015_2024.csv')
academy_award_winning_films = load_dataframe_from_csv('acedemy_award_winning_films')
winning_actors_info = load_dataframe_from_csv('winning_actors_information.csv')

In [72]:
save_dataframe_to_csv(character, 'aa.csv')

In [43]:
get_page_id_from_url('https://en.wikipedia.org/wiki/Everything_Everywhere_All_at_Once')

'58342225'

In [52]:
winning_actors_info

,page_id,wikidata_id,actor,sexLabel,nativeLanguageLabel,countryOfCitizenshipLabel,ethnicGroupLabel
0,106405,Q77181,Emil Jannings,male,NaN,Germany,NaN
1,142784,Q312073,Warner Baxter,male,English,United States of America,NaN
2,7605117,Q182229,George Arliss,male,NaN,United Kingdom,NaN
3,67022,Q295593,Lionel Barrymore,male,English,United States of America,NaN
4,142834,Q322179,Wallace Beery,male,English,United States of America,NaN
...,...,...,...,...,...,...,...
312,3762237,Q220901,Laura Dern,female,American English,United States of America,NaN
313,26143279,Q491013,Youn Yuh-jung,female,Korean,South Korea,NaN
314,51868604,Q27733932,Ariana DeBose,female,English,United States of America,NaN
315,68378,Q106997,Jamie Lee Curtis,female,English,United States of America,NaN
316,35719670,Q5243751,Da'Vine Joy Randolph,female,NaN,United States of America,NaN