In [1]:
from imdb import Cinemagoer
import pandas as pd
import numpy as np

In [2]:
df_films = pd.read_csv('film_full.csv')

df_oscar = pd.read_csv('academy_award_winning_films.csv')

df_oscar

C:\Users\wahid\AppData\Local\Temp\ipykernel_12396\2110776199.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_films = pd.read_csv('film_full.csv')

,Movie name,Movie release date,Awards Won,Nominations
0,Oppenheimer,2023,7,13
1,Poor Things,2023,4,11
2,The Zone of Interest,2023,2,5
3,American Fiction,2023,1,5
4,Anatomy of a Fall,2023,1,5
...,...,...,...,...
1368,The Yankee Doodle Mouse,1943,1,1
1369,The Yearling,1946,2,7
1370,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1371,You Can't Take It with You,1938,2,7
1372,Zorba the Greek (Alexis Zorbas),1964,3,7

In [3]:
df_films

,wikipedia_id,dataset_id,title,release_date,box_office,runtime,languages,countries,genres,reviewScores,awardsReceived,awardsNominated,capitalCost,release date,categories
0,330,/m/0ktn59,Actrius,1996-01-01,NaN,90.0,"['Catalan', 'Spanish']",['Spain'],"['Drama', 'Comedy-drama']",NaN,[],[],NaN,NaN,"['Drama', 'Comedy']"
1,3217,/m/014hr,Army of Darkness,1992-10-09,21502796.0,81.0,['English'],['United States of America'],"['Cult', 'Horror', 'Stop motion', 'Costume dra...",NaN,[],[],NaN,NaN,"['Other', 'Horror', 'Action & Adventure', 'Com..."
2,3333,/m/0151l,The Birth of a Nation,1915-01-01,50000000.0,190.0,"['Silent film', 'English']",['United States of America'],"['Silent film', 'Indie', 'Costume drama', 'Epi...",NaN,[],[],NaN,NaN,"['Experimental & Art', 'Other', 'War & Politic..."
3,3746,/m/017n9,Blade Runner,1982-06-25,33139618.0,116.0,"['Japanese', 'Cantonese', 'English', 'German',...","['United States of America', 'Hong Kong']","['Thriller', 'Cyberpunk', 'Science Fiction', '...",NaN,[],[],NaN,NaN,"['Other', 'Experimental & Art', 'Thriller & My..."
4,3837,/m/018f8,Blazing Saddles,1974-02-07,119500000.0,93.0,"['Yiddish', 'English']",['United States of America'],"['Western', 'Satire', 'Comedy']",NaN,[],[],NaN,NaN,"['Action & Adventure', 'Comedy']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108743,78357538,Q128063711,Running on Empty,2024-08-09,NaN,NaN,NaN,['United States of America'],[''],NaN,[''],[''],NaN,2024,['']
108744,78357574,Q131178545,Ella (2024 film),NaN,NaN,NaN,NaN,NaN,NaN,NaN,[''],[''],NaN,NaN,['']
108745,78357649,Q130459024,Pierce,2024-06-28,NaN,NaN,['Chinese'],"['Taiwan', 'Singapore', 'Poland']","['drama', 'thriller']",NaN,[''],[''],NaN,2024,"['Thriller & Mystery', 'Action & Adventure', '..."
108746,78363864,Q130296657,The Gringa & the Musician,2024-01-01,NaN,NaN,"['Spanish', 'English', 'Quechua']",['Peru'],['documentary'],NaN,[''],[''],NaN,2024,['Documentary']
108747,78363894,NaN,9 Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[''],[''],NaN,NaN,['']

In [4]:
not_found = []

found = []

for index, row in df_oscar.iterrows():
    matchings = df_films[df_films['title'] == row['Movie name']].copy()
    if matchings.shape[0] > 0:
        if matchings.shape[0] ==1:
            df_films.loc[df_films['title'] == row['Movie name'], 'nbOscarReceived'] = row['Awards Won']
            df_films.loc[df_films['title'] == row['Movie name'], 'nbOscarNominated'] = row['Nominations']
        else:
            matchings['year'] = matchings['release_date'].apply(lambda x: x.split('-')[0] if type(x) == str else np.nan)
            true_match = matchings[matchings['year'] == str(row['Movie release date'])]
            if true_match.shape[0] == 1:
                df_films.loc[df_films['title'] == row['Movie name'], 'nbOscarReceived'] = row['Awards Won']
                df_films.loc[df_films['title'] == row['Movie name'], 'nbOscarNominated'] = row['Nominations']
            elif true_match.shape[0] == 0:
                not_found.append(row['Movie name'])
            else:
                print('Multiple matches found for ' + row['Movie name'])
                print(true_match)
    else:
        not_found.append(row['Movie name'])
        

not_found

Multiple matches found for Emma
      wikipedia_id dataset_id title release_date  box_office  runtime  \
8965       2638362  /m/07tj4c  Emma   1996-08-02  22231658.0    123.0
9027       2654649  /m/07vpt_  Emma   1996-01-01         NaN    107.0

        languages                                       countries  \
8965  ['English']  ['United States of America', 'United Kingdom']
9027  ['English']                              ['United Kingdom']

                                                 genres  reviewScores  \
8965  ['Romantic comedy', 'Costume drama', 'Drama', ...           NaN
9027                                  ['Costume drama']           NaN

     awardsReceived awardsNominated  capitalCost release date  \
8965             []              []          NaN          NaN
9027             []              []          NaN          NaN

                                             categories nbOscarReceived  \
8965  ['Other', 'Romance', 'Comedy', 'Drama', 'Histo...             NaN
9027                            ['Historical & Period']             NaN

     nbOscarNominated  year
8965              NaN  1996
9027              NaN  1996
Multiple matches found for Terminator 2: Judgment Day
       wikipedia_id dataset_id                       title release_date  \
78218      34344124   /m/07gp9  Terminator 2: Judgment Day   1991-07-01
78219      34344124    Q170564  Terminator 2: Judgment Day   1991-01-01

        box_office  runtime               languages  \
78218  519843345.0    154.0  ['English', 'Spanish']
78219  520881154.0    137.0             ['English']

                                    countries  \
78218  ['United States of America', 'France']
78219            ['United States of America']

                                                  genres  reviewScores  \
78218  ['Thriller', 'Science Fiction', 'Doomsday film...           NaN
78219  ['drama', 'action', 'thriller', 'dystopian', '...      0.836667

                                          awardsReceived  \
78218                                                 []
78219  ['Hugo Award for Best Dramatic Presentation', ...

                                         awardsNominated  capitalCost  \
78218                                                 []          NaN
78219  ['Academy Award for Best Sound', 'Academy Awar...  102000000.0

      release date                                         categories  \
78218          NaN  ['Thriller & Mystery', 'Fantasy & Sci-Fi', 'Ac...
78219         1991  ['Fantasy & Sci-Fi', 'Thriller & Mystery', 'Ac...

      nbOscarReceived nbOscarNominated  year
78218             NaN              NaN  1991
78219             NaN              NaN  1991
Multiple matches found for Indiana Jones and the Last Crusade
       wikipedia_id  dataset_id                               title  \
188           51888  /m/0h_b6x1  Indiana Jones and the Last Crusade
10479       3184269    /m/0dnqr  Indiana Jones and the Last Crusade

      release_date   box_office  runtime                       languages  \
188     1989-05-24  474171806.0    127.0                             NaN
10479   1989-05-24          NaN    127.0  ['Greek', 'German', 'English']

                          countries  \
188                             NaN
10479  ['United States of America']

                                                  genres  reviewScores  \
188                                        ['Adventure']           NaN
10479  ['Costume Adventure', 'Action', 'Adventure Com...           NaN

      awardsReceived awardsNominated  capitalCost release date  \
188               []              []          NaN          NaN
10479             []              []          NaN          NaN

                                              categories nbOscarReceived  \
188                               ['Action & Adventure']             NaN
10479  ['Action & Adventure', 'Comedy', 'Historical &...             NaN

      nbOscarNominated  year
188                NaN  1989
10479              NaN  1989
Multiple matches found for Moscow Strikes Back
       wikipedia_id  dataset_id                title release_date  box_office  \
25301       9562585  /m/02pk2yv  Moscow Strikes Back   1942-02-23         NaN
30562      11805916  /m/02rt53g  Moscow Strikes Back   1942-02-23         NaN

       runtime    languages         countries  \
25301     55.0  ['Russian']  ['Soviet Union']
30562     55.0  ['Russian']  ['Soviet Union']

                                               genres  reviewScores  \
25301  ['War film', 'Black-and-white', 'Documentary']           NaN
30562                                 ['Documentary']           NaN

      awardsReceived awardsNominated  capitalCost release date  \
25301             []              []          NaN          NaN
30562             []              []          NaN          NaN

                                        categories nbOscarReceived  \
25301  ['War & Political', 'Documentary', 'Other']             NaN
30562                              ['Documentary']             NaN

      nbOscarNominated  year
25301              NaN  1942
30562              NaN  1942

['War Is Over! Inspired by the Music of John and Yoko',
 'The Wonderful Story of Henry Sugar',
 'CODA',
 'Dune',
 'No Time to Die',
 'The Windshield Wiper',
 'The Queen of Basketball',
 'Summer of Soul',
 'Drive My Car',
 'Encanto',
 'Belfast',
 'The Power of the Dog',
 'King Richard',
 'Cruella',
 'The Father',
 'Judas and the Black Messiah',
 'Soul',
 'Colette',
 'Bao',
 'Skin',
 'Flesh and Sand (Carne y arena)',
 'The White Helmets',
 'Ex Machina',
 'Inside Out',
 'Bear Story',
 'Stutterer',
 'Birdman or (The Unexpected Virtue of Ignorance)',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'American Sniper',
 'The Theory of Everything',
 'Ida',
 'Selma',
 'Citizenfour',
 'Big Hero 6',
 'Crisis Hotline: Veterans Press 1',
 'Still Alice',
 'Feast',
 '12 Years a Slave',
 'Dallas Buyers Club',
 'Frozen',
 'Her',
 'Blue Jasmine',
 'Mr Hublot',
 'The Lady in Number 6',
 'Helium',
 'The Great Beauty',
 '20 Feet from Stardom',
 'Silver Linings Playbook',
 'Inocente',
 'The Fantastic Flying Books of Mr. Morris Lessmore',
 'Saving Face',
 'The Lost Thing',
 'Precious',
 'La Vie en rose',
 'Peter & the Wolf',
 'Le Mozart des pickpockets',
 'The Counterfeiters (Die Fälscher)',
 "Pan's Labyrinth (El laberinto del fauno)",
 'The Lives of Others (Das Leben der Anderen)',
 'Crash',
 "March of the Penguins (La Marche de l'empereur)",
 'Born into Brothels',
 'Wasp',
 'The Fog of War',
 'Talk to Her (Hable con ella)',
 'This Charming Man (Der Er En Yndig Mand)',
 'Nowhere in Africa (Nirgendwo in Afrika)',
 'Murder on a Sunday Morning (Un coupable idéal)',
 'Traffic',
 'How the Grinch Stole Christmas',
 'Quiero ser (I want to be...)',
 'Topsy-Turvy',
 'The Red Violin (Le violon rouge)',
 'All About My Mother (Todo sobre mi madre)',
 'Life Is Beautiful (La vita è bella)',
 'Election Night (Valgaften)',
 'Bunny',
 'Character (Karakter)',
 'Il Postino: The Postman',
 "Antonia's Line (Antonia)",
 'Burnt by the Sun (Utomlyonnye solntsem)',
 'Belle Epoque (The Beautiful Era)',
 'Black Rider (Schwarzfahrer)',
 'Mona Lisa Descending a Staircase',
 'Manipulation',
 'Journey of Hope (Reise der Hoffnung)',
 'Days of Waiting',
 'Cinema Paradiso',
 'Pelle the Conqueror (Pelle erobreren)',
 "Babette's Feast (Babettes gæstebud)",
 "The Man Who Planted Trees (L' Homme qui plantait des arbres)",
 'A Room with a View',
 "Artie Shaw: Time Is All You've Got",
 'The Assault (De Aanslag)',
 'A Greek Tragedy',
 'Women – for America, for the World',
 'The Official Story (La Historia Oficial)',
 'Dangerous Moves (La Diagonale du fou)',
 'Fanny & Alexander (Fanny och Alexander)',
 'Sundae in New York',
 'Return of the Jedi',
 'E.T.: The Extra-Terrestrial',
 'To Begin Again (Volver a empezar)',
 'Raiders of the Lost Ark',
 'Tess',
 'The Empire Strikes Back',
 'The Fly (A Légy)',
 'Moscow Does Not Believe in Tears',
 'The Tin Drum (Die Blechtrommel)',
 'Get Out Your Handkerchiefs (Préparez vos mouchoirs)',
 'Special Delivery',
 'Star Wars',
 'Madame Rosa (La Vie devant soi)',
 'The Sand Castle (Le Château de sable)',
 "Fellini's Casanova (Il Casanova di Federico Fellini)",
 'Black and White in Color (Noirs et blancs en couleur)',
 'Leisure',
 'Great (Great (Isambard Kingdom Brunel))',
 'The Godfather: Part II',
 'One-Eyed Men Are Kings (...borgnes sont rois, Les)',
 'Cries and Whispers (Viskningar och rop)',
 'Day for Night (La Nuit américaine)',
 'The Discreet Charm of the Bourgeoisie (Le charme discret de la bourgeoisie)',
 'A Christmas Carol',
 'Limelight',
 'The Garden of the Finzi-Continis (Il Giardino dei Finzi-Contini)',
 'M*A*S*H',
 'Investigation of a Citizen Above Suspicion (Indagine su un cittadino al di sopra di ogni sospetto)',
 'Is It Always Right to Be Right?',
 'Hello, Dolly!',
 "Arthur Rubinstein – The Love of Life (L'amour de la vie - Artur Rubinstein)",
 'The Producers',
 'War and Peace (Voyna i mir)',
 'Journey into Self',
 'The Anderson Platoon (La Section Anderson)',
 'The Box',
 'Closely Watched Trains (Ostre sledované vlaky)',
 'A Herb Alpert and the Tijuana Brass Double Feature',
 'The Shop on Main Street (Obchod na korze)',
 '7th Heaven',
 'All Quiet on the Western Front',
 'All That Money Can Buy',
 "All the King's Men",
 'Around the World in 80 Days',
 'Bad Girl',
 'Bicycle Thieves',
 'The Big House',
 'Black Fox: The Rise and Fall of Adolf Hitler (The Black Fox)',
 'Black Orpheus (Orfeu Negro)',
 'Blithe Spirit',
 'The Brave One',
 'Breaking the Sound Barrier',
 'The Bridge of San Luis Rey',
 'Casablanca',
 'Cavalcade',
 'The Champ',
 'The Chicken (Le Poulet)',
 'Cimarron',
 'The Dawn Patrol',
 'Disraeli',
 'Divorce Italian Style',
 'The Dot and the Line (The Dot and the Line: A Romance in Lower Mathematics)',
 'The Dove',
 'Dr. Jekyll and Mr. Hyde',
 'Eskimo',
 'A Farewell to Arms',
 "Federico Fellini's 8½",
 'Folies Bergere',
 'A Force in Readiness',
 'Gate of Hell (Jigokumon)',
 'Glass (Glas)',
 "The Golden Fish (Histoire d'un poisson rouge)",
 'Great Expectations',
 'Happy Anniversary (Heureux Anniversaire)',
 'Helen Keller in Her Story (The Unconquered)',
 'Henry V',
 'The Jazz Singer',
 'King of Jazz',
 'Kitty Foyle (Kitty Foyle: The Natural History of a Woman)',
 'Kokoda Front Line!',
 'La Strada (The Road)',
 'The Last Command',
 'The Little Kidnappers (The Kidnappers)',
 'Little Women',
 'Morning Glory',
 'My Uncle (Mon oncle)',
 'Never on Sunday (Pote tin Kyriaki)',
 'Nights of Cabiria (Le Notti di Cabiria)',
 'None But the Lonely Heart',
 'North West Mounted Police',
 'The Patriot',
 'The Rains Came',
 'The Red Balloon (Le ballon rouge)',
 "Robert Frost: A Lover's Quarrel with the World",
 'Samson and Delilah',
 'Samurai I: Musashi Miyamoto (Miyamoto Musashi)',
 'Separate Tables',
 'Serengeti Shall Not Die (Serengeti darf nicht sterben)',
 'Shoeshine (Sciuscià)',
 'The Silent World (Le Monde du silence)',
 'Sky Above and Mud Beneath (Le Ciel et la boue)',
 'Street Angel',
 'The Substitute',
 "Sundays and Cybele (Le Dimanches de Ville d'Avray)",
 'Sunrise',
 'Sweet Bird of Youth',
 'Tabu',
 'Tempest',
 'Thirty Seconds Over Tokyo',
 'Through a Glass Darkly (Såsom i en spegel)',
 'tom thumb',
 'Transatlantic',
 'A Tree Grows in Brooklyn',
 'Two Women (La Ciociara)',
 'The Ugly Duckling',
 'Underworld',
 'Vacation from Marriage (UK title Perfect Strangers)',
 'Van Gogh',
 'The Virgin Spring (Jungfrukällan)',
 'World Without Sun (Le Monde sans soleil)',
 'Yesterday, Today and Tomorrow (Ieri, oggi, domani)',
 "You Can't Take It with You",
 'Zorba the Greek (Alexis Zorbas)']

In [5]:
from operator import contains
import re


def remove_academy_awards(awards):
    awards = awards.split(',')
    nonOscar = []
    for award in awards:
        if 'Academy' not in award:
            nonOscar.append(award)
    return ','.join(nonOscar)

df_films['awardsReceived'] = df_films['awardsReceived'].apply(remove_academy_awards)
df_films['awardsNominated'] = df_films['awardsNominated'].apply(remove_academy_awards)

In [6]:
found = []

api_key = '3830f179d48a32e7a0652c310d0c9376'

In [7]:

from operator import contains
import requests


def fetch_movie_details(movie_title):
    movie = movie_title
    if contains(movie, "("):
        movie = movie.split("(")[0]
    movie = movie.strip()
    
    
    api_key = "e82016a2"
    url = f"http://www.omdbapi.com/?t={movie}&apikey={api_key}"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        if data.get("Response") == "True":
            return {
                "dataset_id": data.get("imdbID"),
                "title": movie_title,
                "release_date": data.get("Released"),
                "box_office": data.get("BoxOffice"),
                "runtime": data.get("Runtime"),
                "genre": data.get("Genre"),
                "countries": data.get("Country"),
                "languages": data.get("Language"),
                'reviewScore': data.get("Ratings"),
                }
        else:
            return {"Error": data.get("Error")}
    else:
        return {"Error": "Failed to fetch data"}

In [8]:
from operator import contains


not_found_infos= []

still_not_found = []

for movie in not_found:
    info = fetch_movie_details(movie)
    if info.get("Error"):
        print(f"Error fetching data for {movie}")
        still_not_found.append(movie)
    else:
        not_found_infos.append(info)

Error fetching data for War Is Over! Inspired by the Music of John and Yoko
Error fetching data for Flesh and Sand (Carne y arena)
Error fetching data for Le Mozart des pickpockets
Error fetching data for Il Postino: The Postman
Error fetching data for To Begin Again (Volver a empezar)
Error fetching data for Fellini's Casanova (Il Casanova di Federico Fellini)
Error fetching data for A Herb Alpert and the Tijuana Brass Double Feature
Error fetching data for All That Money Can Buy
Error fetching data for Black Fox: The Rise and Fall of Adolf Hitler (The Black Fox)
Error fetching data for Helen Keller in Her Story (The Unconquered)
Error fetching data for Serengeti Shall Not Die (Serengeti darf nicht sterben)
Error fetching data for Sky Above and Mud Beneath (Le Ciel et la boue)

In [9]:
from math import inf
from genres import categorize_genres

info_not_found = pd.DataFrame(not_found_infos)

def parse_date(date):
    try:
        return pd.to_datetime(date).date()
    except:
        return np.nan
    
def parse_runtime(runtime):
    try:
        return int(runtime.split(" ")[0])
    except:
        return np.nan
    
def parse_box_office(bo):
    try:
        return int(bo.replace("$", "").replace(",", ""))
    except:
        return np.nan
    
def parse_countries_genre_language(cgl):
    try:
        return cgl.split(", ")
    except:
        return np.nan
    
def parse_genre(genre):
    try:
        return categorize_genres(genre)
    except:
        return np.nan
    
def parse_review_score(review_score):
    try:
        reviews = [review['Value'] for review in review_score]
        reviews_numbers = []
        for review in reviews:
            if contains(review, "%"):
                reviews_numbers.append(float(review.replace("%", "")) / 100)
            else:
                parts = review.split("/")
                if len(parts) == 2:
                    reviews_numbers.append(float(parts[0]) / float(parts[1]))
                else:
                    reviews_numbers.append(float(parts[0]) / 10)
        return np.mean(reviews_numbers)
    except:
        return np.nan
    
    
def get_awards_received(title):
    return df_oscar[df_oscar['Movie name'] == title].iloc[0]['Awards Won']

def get_awards_nominated(title):
    return df_oscar[df_oscar['Movie name'] == title].iloc[0]['Nominations']
    
info_not_found['release_date'] = info_not_found['release_date'].apply(parse_date)
info_not_found['runtime'] = info_not_found['runtime'].apply(func=parse_runtime)
info_not_found['box_office'] = info_not_found['box_office'].apply(parse_box_office)
info_not_found['countries'] = info_not_found['countries'].apply(parse_countries_genre_language)
info_not_found['languages'] = info_not_found['languages'].apply(parse_countries_genre_language)
info_not_found['genres'] = info_not_found['genre'].apply(parse_countries_genre_language)




info_not_found.drop(columns=['genre'], inplace=True)
info_not_found['reviewScores'] = info_not_found['reviewScore'].apply(parse_review_score)
info_not_found.drop(columns=['reviewScore'], inplace=True)
info_not_found['nbOscarReceived'] = info_not_found['title'].apply(get_awards_received)
info_not_found['nbOscarNominated'] = info_not_found['title'].apply(get_awards_nominated)
info_not_found['wikipedia_id'] = np.nan

c:\Users\wahid\anaconda3\envs\ada\Lib\site-packages\numpy\core\fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\wahid\anaconda3\envs\ada\Lib\site-packages\numpy\core\_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

In [10]:
info_not_found['categories'] = info_not_found['genres'].apply(categorize_genres)

info_not_found

,dataset_id,title,release_date,box_office,runtime,countries,languages,genres,reviewScores,nbOscarReceived,nbOscarNominated,wikipedia_id,categories
0,tt16968450,The Wonderful Story of Henry Sugar,2023-09-27,NaN,40.0,"[United States, United Kingdom]",[English],"[Short, Adventure, Comedy]",0.845000,1,1,NaN,"[Action & Adventure, Comedy]"
1,tt10366460,CODA,2021-08-13,NaN,111.0,"[France, Canada, United States]","[American Sign , English]","[Comedy, Drama, Music]",0.820000,3,3,NaN,"[Drama, Comedy, Music & Dance]"
2,tt0087182,Dune,1984-12-14,30925690.0,137.0,"[United States, Mexico]",[English],"[Action, Adventure, Sci-Fi]",0.466667,6,10,NaN,[Action & Adventure]
3,tt2382320,No Time to Die,2021-10-08,160891007.0,163.0,"[United Kingdom, United States]","[English, French, Italian, Russian, Spanish, N...","[Action, Adventure, Thriller]",0.746667,1,3,NaN,"[Action & Adventure, Thriller & Mystery]"
4,tt9464038,The Windshield Wiper,2022-02-25,NaN,15.0,"[Spain, United States]","[English, Romanian]","[Animation, Short, Fantasy]",0.680000,1,1,NaN,"[Animated & Family, Fantasy & Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,tt0053976,The Virgin Spring (Jungfrukällan),1960-11-14,NaN,89.0,[Sweden],"[Swedish, German]",[Drama],0.840000,1,2,NaN,[Drama]
208,tt0058364,World Without Sun (Le Monde sans soleil),1964-12-22,NaN,93.0,"[France, Italy]",[French],[Documentary],0.750000,1,1,NaN,[Documentary]
209,tt0057171,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964-03-17,NaN,119.0,"[Italy, France]",[Italian],"[Comedy, Romance]",0.750000,1,1,NaN,[Comedy]
210,tt0030993,You Can't Take It with You,1938-09-29,NaN,126.0,[United States],"[English, Russian]","[Comedy, Drama, Romance]",0.860000,2,7,NaN,"[Drama, Comedy]"
211,tt0057831,Zorba the Greek (Alexis Zorbas),1964-12-14,NaN,142.0,[United States],"[English, Greek]","[Comedy, Drama]",0.775000,3,7,NaN,"[Drama, Comedy]"

In [12]:
info_not_found['countries'] = info_not_found['countries'].apply(lambda x: (','.join(x) if isinstance(x, list) else x))
info_not_found['languages'] = info_not_found['languages'].apply(lambda x: (','.join(x) if isinstance(x, list) else x))
info_not_found['genres'] = info_not_found['genres'].apply(lambda x: (','.join(x) if isinstance(x, list) else x))
info_not_found['categories'] = info_not_found['categories'].apply(lambda x: (','.join(x) if isinstance(x, list) else x))

df_full = pd.merge(df_films, info_not_found, how='outer', on=['title', 'release_date', 'box_office', 'runtime', 'genres', 'countries', 'languages', 'reviewScores', 'wikipedia_id', 'nbOscarReceived', 'dataset_id', 'nbOscarNominated', 'categories'])



df_full.to_csv('film_full_2.csv', index=False)